[master]
192.168.122.22 host_name=kube-master-1

[worker]
192.168.122.244 host_name=kube-worker-1
192.168.122.144 host_name=kube-worker-2

[monitoring]
192.168.122.80 host_name=kube-monitoring-1

[monitoring:vars]
elastic_port=6000
logstash_port=6100
kibana_port=3000

[k8s-cluster:children]
master
worker

[all:vars]
ansible_user=testuser
ansible_ssh_private_key_file=cloud.key